@use './utilities.scss' as *;

#main-menu {
  list-style: none;

  li {
    font-size: $font-size-6;
    font-weight: bold;
    transition: .3s;

    label {
      cursor: pointer;
    }

    &:has(input[type='radio']:checked) {
      color: $selection-color-1;
      rotate: -5deg;
      scale: 1.5;
    }

    &:hover {
      scale: 1.1;
      rotate: -3deg;
      color: white;
    }
  }
}

#home-page-content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-3;
    transform: translateX(100%);
  }
}