$dark-blue: rgb(1, 6, 19);
$light-grey: rgb(202, 202, 202);
$custom-red: rgb(182, 0, 0);
$selection-color-1: rgb(9, 149, 214);

$font-size-1: 1.25rem;
$font-size-2: 1.5rem;
$font-size-25: 2rem;
$font-size-3: 3rem;
$font-size-4: 4rem;
$font-size-5: 5rem;
$font-size-6: 6rem;

$short-transition: .3s;
$mid-transition: 1s;

$search-field-width: 500px;